.calendar {
    z-index: 1000;
    position: absolute;
    top: 90%;
    left: 50%
}

.dark-bg {
    position: absolute;
    top: -500%;;
    left: -1400%;
    z-index: 999;
    width: 200vw;
    height: 200vh;
    background: rgba(0, 0, 0, .1);
}



