.modal {
    position: absolute;;
    width: 192px;
    height: 352px;
    right: -200px;
    top: 75px;
    opacity: 0;

    background: var(--main-bg-color);
    border-radius: 10px;
    z-index: 1000;
    transition: all 300ms  ease-out;
}

.modal.visible {
    right: 20px;
    opacity: 1;
    transition: all 300ms  ease-out;
}

.modal-avatar {
    font: normal 350 24px/32px Segoe UI, sans-serif;

    display: flex;;
    justify-content: center;
    
    width: 50px;
    padding-top: 0.3em;
    height: 40px;
    margin: 20px 71px;
    border: solid 1px rgba(0, 0, 0, .2); 
  
    background: var(--main-bg-color);
    border-radius: 100%;
  
    cursor: pointer;
}

.modal-email {
    font: normal 350 18px/24px Segoe UI, sans-serif;
    text-align: center;
}

.modal-exit {
    font: normal 350 18px/24px Segoe UI, sans-serif;
    margin-top: 25px;
    cursor: pointer;
}

.modal-exit img {
    position: relative;
    height: 0.8em;
    margin-left: 15px;
    margin-right: 10px;
}

.modal-legend {
    display: block;
    margin: 0 64px;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.modal-legend-title {
    position: relative;
    top: 15px;
    font: normal 300 24px/32px Segoe UI, sans-serif;
    letter-spacing: -0.12em;
    margin: 0;
}

.modal-legend-version {
    font: normal 300 14px/19px Segoe UI, sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.modal-cross {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 12px;
    cursor: pointer;
}
