.week {
  position: relative;
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  width: 900px;
}

.week-header {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.week-header span {
  background: white;
  border-radius: 10px;
  font: normal 350 24px/32px Segoe UI, sans-serif;
  padding: 0 20px;
  cursor: default;
}

.calendar-wrapper {
  position: relative;
  top: 5px;
  padding: 0;
  margin-left: 20px;
  cursor: pointer;
}

.calendar-wrapper img {
  height: 27px;
}

.week-img {
  position: absolute;
  right: 7%;
  top: 53%;
  z-index: 1;
}
