.calendar {
    z-index: 1000;
    position: absolute;
    top: 90%;
    left: 50%
}

.dark-bg {
    position: absolute;
    top: -500%;;
    left: -10000%;
    z-index: 999;
    width: 1000vw;
    height: 400vh;
    background: rgba(0, 0, 0, .1);
}



