.day {
  font: normal 350 12px/16px Segoe UI, sans-serif;
  position: relative;
  padding: 15px 30px;
  padding-bottom: 25px;
  background: white;
  border-radius: 10px;
  min-height: 210px;
  width: 225px;

  margin-bottom: 20px;
  margin-right: 20px;

  transition: all 500ms ease-in;
  z-index: 1;
}

.day-title {
  font: normal 350 18px/24px Segoe UI, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 0.5em;
}

.day-title span {
  margin-right: 0.5em;
}

.day:nth-child(3n) {
  margin-right: 0;
}

.day:hover {
  box-shadow: 3px 4px 8px rgb(204 187 164 / 40%);
  transform: scale(1.04);
  transition: all 400ms ease-out;
}

.day-zoom-button {
  position: absolute;
  right: 25px;
  top: 20px;
  height: 15px;
  cursor: pointer;
  opacity: 0;
  transition: all 400ms ease-in;
}

.day:hover .day-zoom-button {
  opacity: 1;
}