.add-task {
    position: absolute;
    margin: auto;
    width: 526px;
    padding: 15px 25px 35px;

    top: 2000%; 
    left: 50%; 
    margin-left: -450px;

    opacity: 0;

    background: var(--main-bg-color);
    border-radius: 10px;
    z-index: 1000;
    transition: all 300ms  ease-out;
}

.add-task.visible {
    top: 200%;
    opacity: 1;
    transition: all 300ms  ease-out;
}

.add-task-title {
    width: 100%;
    font: normal 350 18px/24px Segoe UI, sans-serif;
}

.button-block {
    display: flex;
    justify-content : center;
    margin-top: 15px;
}

.add-sub {
    display: block;
    width: 100px;
    height: 30px;

    font: normal 350 14px/24px Segoe UI, sans-serif;
    text-align: center;
  
    outline: none;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 4px 8px rgba(204, 187, 164, 0.2);
    background: #EADED3;

    margin-left: 8px;;
    position: relative;
    transition: all 300ms ease-in; 
    cursor: pointer;
}

.add-sub:hover {
    background: var(--hover-block-color);
    transition: all 300ms;
} 

.close-sub {
    height: 14px;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.close-sub:hover {
    height: 15px;
    transition: all 200ms ease-in;
}

